
body {
	color: #000000;
	text-align: center;
}

code {
	font-family: "Courier New", monospace;
	background-color: #dddddd;
}

sub {
	font-size: 65%;
}

iframe {
	margin: 50px;
}

p.note {
	font-style: italic;
	color: #777777;
}

span.big {
	font-size: 40px;
}

a {
	color: #777777;
	text-decoration: underline;
}

a:hover {
	color: blue;
}

ul.tree {
	position: fixed;
	top: 0px;
	left: 0%;

	margin: 10px;

	padding: 10px 10px 10px 10px; /* Padding like before but just in one line.*/
	border-radius: 5px;
	border: 1px solid black;

	background-color: white;

	list-style: inside circle;
	text-align: left;
}

li.tree {
	padding: 0px;
}


li.tree a {
	color: black;
	text-decoration: none;
	padding: 0px 5px 0px 5px;
}

li.tree a:hover {
	border: 2px solid black; /* Makes a black line appear under the nav link when hovered over. */
}


article {
	float: left;
	clear: left;
	width: 100%;

	margin: 10px auto;

	text-align: left;
}

article.top {
	border-top: none;
	margin-top: 50px;
}

article.newLine {
	border-top: none;
	margin-top: 0px;
}

article section {
	float: left;
	margin-left: 15%;
	width: 80%;
}

article p{
	display: inline;
	color: black;
}

article img{
	float: left;
	margin-right: 10px;
	width: 400px;
	height: 400px;
}

hgroup {
	width: 40%;
	border-radius: 10px;
	border: 5px solid black;

	margin: 10px;
	padding: 5px;
}

article h1 {
	text-indent: 15%;
	font-size: 250%;
	margin: 0px;
}
article h2 {
	font-family: "Courier New", monospace;
	text-indent: 16%;
	font-size: 125%;
	margin: 0px;
}


article.intro p{
	display: block;
	width: 35%;
	font-size: 25px;
	margin: 10px auto;
	text-align: justify;
}

article.intro p:first-letter {
	font-size: 50px;
}


figure {
	float: left;
	margin: 0px;
}

figure.newLine {
	float: left;
	clear: left;
}

figure img{
	width: 400px;
	height: 400px;
	margin: 0px;
	margin-right: 10px;
}

figcaption {
	clear: left;
	text-align: center;
	font-size: 90%;
	color: #444444;
	margin-bottom: 20px; 
}

p.newLine {
	clear: left;
	display: block;
}

div.newSection {
	clear: left; /*  It either needs "float: left;" or "clear: left;" but not both to appear in the right place vertically. But if "float: left;" would not make it centered. So, use "clear: left;". */
	width: 80%;
	margin: 20px auto;
	border-top: 3px solid black;
}


@media (max-width: 1000px) { /* Maybe add a media query for max-width: 500px; later... */
	iframe {
		width: 420px;
		height: 236.25px;
	}
}


