
body {
	text-align: center;
	background-color: #ddd;

	padding-top: 50px; /* Moves the top row of divs below the nav. */
}

div {
	width: 400px;
	height: 400px;

	background-position: center;
	background-size: cover;

	margin: 20px 10px;

	display: inline-block;


	border: 5px solid #fff;
	border-radius: 10px;
}

/* This fixes color when mouse hovers over a div that is a link. */
a:hover {
	color: #fff;
}


/* Submit button CSS */
aside.tree ul{
	position: fixed;
	top: 0;
	left: 0;

	margin: 0px;

	padding: 10px;
	border-bottom-right-radius: 5px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;

	background-color: white;

	list-style: none;
	text-align: left;
}

aside.tree a {
	color: black;
	text-decoration: none;
	padding: 0px 5px 0px 5px;
}

aside.tree li:hover {
	border-bottom: 2px solid black; /* Makes a black line appear under the nav link when hovered over. */
}
/* End submit button CSS */



/* The next two rules allow the images to change into gifs when hovered over.  */
/* Note: Each new div needs two classes all to itself. */
div.E1 {
	background-image: url("../images/triforce.png");
}
div.E1:hover {
	background-image: url("../images/triforce.gif");
}


div.E2 {
	background-image: url("../images/pikachu.png");
}
div.E2:hover {
	background-image: url("../images/pikachu.gif");
}

div.E3 {
	background-image: url("../images/icon.png");
}
div.E3:hover {
	background-image: url("../images/icon_small.gif");
}



/* Responsive section for mobile devices */
@media (max-width: 500px){

	div {
		width: 200px;
		height: 200px;
	}
}

