

* {
	font-size: 100%;
	font-family: Arial, sans-serif;
}

body {
	width: 100%;
	margin: 0px auto;
	background-color: #fff;
}

ul.nav {
	position: fixed;
	top: 0px;
	right: 0%;

	margin: 0px;

	padding: 10px 10px 5px 5px; /* Padding like before but just in one line.*/
	border-bottom-left-radius: 5px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;

	background-color: white;

	z-index: 10;
}

li.nav {
	display: inline; /* On top of making the link sit side-by-side, this also gets ride of the "list-style" dot. */
	padding: 0px;
}


a.navLink {
	color: black;
	text-decoration: none;
}

a.current {
	color: black;
	text-decoration: none;
	padding: 0px 5px 0px 5px;
	border-bottom: 2px solid black;
}

a.navLink:hover, a.current:hover {
	color: black;
	border-bottom: 2px solid black; /* Makes a black line appear under the nav link when hovered over. */
}


p.firstLine {
	margin-top: 75px; /* Keeps it from starting inside the nav bar */
}


