
* {
	font-size: 100%;
	font-family: Arial, sans-serif;
}

body {
	width: 100%;
	margin: 0px auto;
	background-color: #fff;

	height: 100%; /* These two lines disable scrolling on the body of the page. Help: https://stackoverflow.com/questions/28411499/html-css-disable-scrolling-on-body */
	overflow: hidden;
}


.UIButtons {
	position: fixed;
	bottom: 0px;
	right: 0px;

	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 5px;
	padding-top: 5px;

	border-top-left-radius: 5px;
	border-top: 1px solid black;
	border-left: 1px solid black;

	background-color: white;

	text-align: right;
}

input.exportButton {
	font-size: 100%
}


ul.nav {
	position: fixed;
	top: 0px;
	right: 0%;

	margin: 0px;

	padding: 10px 10px 5px 5px; /* Padding like before but just in one line.*/
	border-bottom-left-radius: 5px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;

	background-color: white;
}

li.nav {
	display: inline;
	padding: 0px;
}


a.navLink {
	color: black;
	text-decoration: none;
}

a.current {
	color: black;
	text-decoration: none;
	padding: 0px 5px 0px 5px;
	border-bottom: 2px solid black;
}

a.navLink:hover, a.current:hover {
	border-bottom: 2px solid black; /* Makes a black line appear under the nav link when hovered over. */
}

